#parking-lot{
    position: absolute;
    background-image: url('parkinglot.jpg');
    background-size: cover;
    width:800px;
    height:599px;
    z-index: -1;
}

.hSpace {
    border: 1px dashed purple;
    width: 119px;
    height:62px;
}

.vSpace {
    border: 1px dashed blue;
    width: 62px;
    height:119px;
}

.car {
    position:absolute;
    background-image: url('images/car-red.png');
    background-size: cover;
    height: 53px;
    width: 106px;
    top:626px;
    left: 113px;
    transform: rotate(-90deg);
    
}

#toyCar {
    animation: carTurn 2s 2s 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes carTurn {
    0%{
        top: 626px;
        left: 113px;
    }
    40% {
        top:523px;
        left: 113px;
        transform: rotate(-90deg);
    }

    65%{
        top: 475px;
        left: 120px;
        transform: rotate(-35deg);
    }
    80% {
        top: 472px;
        left: 139px;
        transform: rotate(0deg);
    }

    100%{
        top: 472px;
        left:15px;
        transform: rotate(0deg);
    }
}